@charset "utf-8";

table {
    border: solid 1px #666666;
    border-left: 10px #CC0000 double;
    border-right-width:3px;
    border-bottom-style: dotted;
    border-collapse: collapse;
    background-color: #f2f2f2;
    width: 650px;
}

th, td {
    border: solid 1px #666666;
    padding: 10px;
    vertical-align: top;
}
th {
    text-align: left;
    background-color: #dddddd;
}
/* td{ */
/*     background-color: #FF0000; */
/* } */
p {
    border: solid;
    padding: 10px 20px 30px;
    margin: 20px;
}
