@charset "utf-8";

.container{
    width: 1000px;
    background-color: #000;
}
.text{
    margin-top: 30px;
    /* padding: 15px; */
    background-color: #EEE;
    /* border-top: 3px solid blue; */
    /* padding: 10px; */
}
/* .child{ */
/*     margin-top: 80px; */
/*     background-color:yellowgreen; */
/* } */
/* .photo{ */
/*     margin-left: auto; */
/*     margin-right: auto; */
/*     /* padding-right: 10px; */
/*     /* padding-left: 4px; */
/*     width: 800px; */
/* } */
