@charset "utf-8";
html{
    font-size: 16px;
}
body {
    font-family: "Ricty Discord", sans-serif;
    font-size:20px;
}
h1 {
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.1em;
}
p {
    font-size: 14px;
    line-height: 1.6;
}
em{
    font-weight: bold;
    font-style: normal;
    color: #FF0000;
}
